/* .class #id*/

.imgInicio{
    width: 900px;
    height: 650px;
}

.formInicio{
    margin-top: 10px;    
    padding-left: 900px;
    font-size: 50px;
}

.txtInicio{    
    font-family: Tahoma, Geneva, sans-serif;

    font-size: 17px;
    margin-top: -470px; 
    padding-left: 900px;

}

#txtUsuario{
    font-family: Tahoma, Geneva, sans-serif;

    font-size: 14px;
    width: 350px;
    height: 20px;
}

#txtPass{
    font-family: Tahoma, Geneva, sans-serif;

    font-size: 14px;
    width: 350px;
    height: 20px;    
}

#btnInciarSesion{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    background-color: #F43209;
    color: white;
    width: 110px;
    height: 30px;
}

.btnCerrarSesion{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    background-color: #F43209;
    color: white;
    width: 120px;
    height: 30px;

    margin-left: 1150px;
    margin-top: 190px;

}

.barraMenuArriba{
    background-color: #FECB5B;
    margin-top: -20px;
    margin-left: -8px;
    margin-right: -8px;

    padding-bottom: 50px;
}

.barraMenuAbajo{  
    background-color: #F39F02;
    margin-top: 0px;
    margin-left: -8px;
    margin-right: -8px;
}

#ma_nomAlumno{
    color: white;
    font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
    font-size: 13px;

    margin-top: -70px;
    margin-left: 800px;
}

#ma_rutAlumno{
    color: white;
    font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
    font-size: 13px;

    margin-top: -10px;
    margin-left: 800px;

}

#verMensaje{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    border: solid #F39F02;
    background-color: #F39F02;
    color: white;
    margin-left: 200px;
    margin-top: 10px;


    padding-top: 10px;
    padding-bottom: 10px;
}

#verMensaje:hover{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    border: solid #FECB5B;
    background-color: #FECB5B;
    color: white;
    margin-left: 200px;
    margin-top: 10px;
}

#formCerrarSesion{
    margin-top: -250px;
}

.imgLogo{
    margin-top: 30px;
}

#titulo1{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;

    color: #989693;

    margin-top: 70px;
    margin-left: 60px;

}

#verNotajspAlu{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;

    padding: 5px;

    text-decoration: none;
    color: black;
}

#verAsisjspAlu{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;

    padding: 5px;

    color: black;

    text-decoration: none;
}

#verNotajspAlu:hover{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;

    padding: 5px;

    text-decoration: none;
    color: #FECB5B;
}

#verAsisjspAlu:hover{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;

    padding: 5px;

    color: #FECB5B;

    text-decoration: none;
}

.enunciado{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;

    padding: 25px;

    color: #989693;
}

#asignatura{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;

    padding: 5px;

    color: black;
}

#tablaAlumno{
    border-collapse: collapse;
    width: 40%;

    margin-left: 120px;
}

.teerre{
    border-bottom: 1px solid #CCC7C7;
}

#barraMenuAbajoId{
    background-color: #F39F02;
    margin-top: 0px;
    margin-left: -8px;
    margin-right: -8px;

    padding-top: 20px;
    padding-bottom: 10px;
}

#registrarAlum{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    text-decoration: none;

    border: 2px solid #F39F02;
    background-color: #F39F02;
    color: white;
    margin-left: 200px;
    /*    margin-top: 100px;*/


    /*    padding-top: 10px;
        padding-bottom: 10px;*/

    border-radius: 0px;

}


#registrarAlum:hover{    
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #FECB5B;
    background-color: #FECB5B;
    color: white;
    margin-left: 200px;
    margin-top: 0px;

    padding: 8px;

    border-radius: 0px;
}

#registrarDoc{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    text-decoration: none;

    border: 2px solid #F39F02;
    background-color: #F39F02;
    color: white;
    margin-left: 50px;

    margin-top: 100px;
    /*margin-top: 0px;*/


    /*    padding-top: 10px;
        padding-bottom: -100px;*/

    border-radius: 0px;
}

#registrarDoc:hover{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    border: solid #FECB5B;
    background-color: #FECB5B;
    color: white;
    margin-left: 50px;
    margin-top: 0px;    


    padding: 8px;

    border-radius: 0px;

    text-decoration: none;
}

#jspIngresarNota{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;

    padding: 5px;

    color: black;

    text-decoration: none;
}

#jspIngresarNota:hover{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;

    padding: 5px;

    text-decoration: none;
    color: #FECB5B;
}

#jspIngresarAsis{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;

    padding: 5px;

    color: black;

    text-decoration: none;
}

#jspIngresarAsis:hover{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;

    padding: 5px;

    text-decoration: none;
    color: #FECB5B;
}

#jspEnviarMensaje{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;

    padding: 5px;

    color: black;

    text-decoration: none;
}

#jspEnviarMensaje:hover{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;

    padding: 5px;

    text-decoration: none;
    color: #FECB5B;
}

#formRegDocente{
    margin-left: 150px;
    margin-top: 30px;

    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;

    color: black;

}

#titulo2{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 22px;

    color: #989693;

    margin-top: 40px;
    margin-left: 60px;
}

#txtRegRutDo{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    color: black;
    height: 20px;
    width: 343px;

    margin-left: 30px;
}

#txtRegNomDo{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    color: black;

    height: 20px;
    width: 163px;

    margin-left: 30px;
    margin-top: 20px;
}

#txtRegApeDo{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    color: black;
    height: 20px;
    width: 171px;

    margin-left: 0px;
}

#txtRegDirecDo{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    color: black;
    height: 20px;
    width: 19em;

    margin-left: 30px;
    margin-top: 20px;
}

#txtRegCoDo{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    color: black;
    height: 20px;
    width: 19em;

    margin-left: 30px;
    margin-top: 20px;
}

#txtRegUserDo{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    color: black;
    height: 20px;
    width: 163px;

    margin-left: 30px;
    margin-top: 20px;
}

#txtRegPassDo{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    color: black;
    height: 20px;
    width: 171px;

    margin-left: 0px;
    margin-top: 20px;
}

#btnRegistrarDocente{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    background-color: #F39F02;
    color: white;

    height: 35px;
    width: 183px;

    margin-left: 80px;
    margin-top: 40px;
}

#titulo3{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 24px;

    color: #989693;

    margin-top: 40px;
    margin-left: 60px;
}

#subtitulo1{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;

    color: #989693;

    margin-top: 40px;
    margin-left: 150px;
}

#subtitulo2{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;

    color: #989693;

    margin-top: -40px;
    margin-left: 35em;
}

#divDatosApo{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;

    color: #989693;

    margin-top: 40px;
    margin-left: 12em;
}

#divDatosAlum{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;

    color: #989693;

    margin-top: -165px;
    margin-left: 38em;
}

.txtApo{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    color: black;
    height: 20px;
    width: 191px;

    margin-left: 0px;
    margin-top: 20px;
}

#txtRegRutAlu{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    color: black;
    height: 20px;
    width: 343px;

    /*margin-left: 20px;*/

}

#txtRegNomAlu{    
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    color: black;

    height: 20px;
    width: 163px;

    margin-top: 20px;

}

#txtRegApeAlu{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    color: black;
    height: 20px;
    width: 171px;

    margin-left: 0px;

}

#txtRegDirecAlu{

    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    color: black;
    height: 20px;
    width: 19em;

    margin-top: 20px;

}

#txtRegPassAlu{

    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;

    color: black;
    height: 20px;
    width: 19em;

    margin-top: 20px;

}

#btnRegistrarAlumno{    
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    background-color: #F39F02;
    color: white;

    height: 35px;
    width: 183px;

    margin-left: 80px;
    margin-top: 40px;    
}

#tablaAlumno2{
    /*border-collapse: collapse;*/
    width: 70%;

    margin-left: 120px;
}

.enunciado2{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;

    padding: 7px;
    padding-right: 30px;

    color: #989693;
}

#tblVerNotas{
    margin-top: 40px;
}

#asignaturaVerNota{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;

    padding: 5px;

    color: black;
}

#alumNota{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 17px;

    padding: 5px;

    color: black;    
}

#alumNotaPor{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;

    margin-top: -31px;
    margin-left: 34px;

    padding: 2px;

    color: #cccccc;    
}

#tablaAlumno3{
    border-collapse: collapse;
    width: 40%;

    margin-left: 60px;
    margin-top: 40px;
}

.enunciado3{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;

    padding: 20px;

    color: #989693;
}

#divAsisJspAlum{
    margin-top: -20px;
}

#siAsistio{
    background-color: green;
    width: 120px;
    height: 40px;
    margin-left: 40px;
    margin-right: -40px;
}

#noAsistio{
    background-color: red;
    width: 120px;
    height: 40px;
    margin-left: 40px;
    margin-right: -40px;
}

.thAsistenciaAlum{
    padding-top: 7px;
}
